body {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.welcome-tag {
    background-color: black;
    text-align: center;
    padding: 20px 0;
}

.welcome-tag a {
    color: whitesmoke;
}

.header-main {
    height: 725px;
    background-image: url(/images/Background\ Image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-bar {
    display: flex;
    padding: 20px 80px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}


.logo-container {
    width: 40%;
    font-size: 22px;
    font-weight: bold;
}

.logo {
    text-decoration: none;
}

.logo>span {
    position: relative;
    top: -7px;
    color: whitesmoke;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    width: 20%;
    flex-wrap: wrap;
}

.nav-center a {
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    padding: 8px 0;
}

.nav-center a:hover {
    border-bottom: 1px solid whitesmoke;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    gap: 20px;
    font-size: 17px;

}

.nav-right a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

.nav-right a:hover {
    background: rgba(208, 222, 208, 0.2);
    border-radius: 20px;
}

.nav-right button {
    height: 40px;
    width: 75px;
    border-radius: 20px;
    border: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #FFFFFF;
    height: 65px;
    width: 850px;
    margin: 0 auto;
    border-radius: 100px;
    font-size: 16px;
}

.search-bar>div:nth-child(-n+3) {
    border-right: 1px solid rgb(208, 204, 204);
}

.search-bar>div:hover {
    background: rgba(109, 103, 103, 0.2);
    border-radius: 20px;
}

.search-bar a {
    text-decoration: none;
    background: transparent;
}

.search-bar a:visited {
    color: black;
}

.search-bar input {
    border: none;
    width: 90%;
    background: transparent;
}

.search-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa215b;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.search-bar button:hover {
    background-color: #d20364;
}

.header-text {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
}

.header-text>p {
    font-size: 60px;
    color: whitesmoke;
    font-weight: bold;
}

.header-text>button {
    width: 150px;
    height: 33px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
}

.margin-padding {
    margin: 50px 0;
    padding: 0 80px;
}

.location-list ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.location-list a {
    margin-top: 15px;
    padding-right: 80px;
    box-sizing: border-box;
}

.location-list li {
    display: flex;
    align-items: center;
}

.width25>a {
    width: 25%;
}

ul li>span>* {
    display: block;
}

.location-list a {
    text-decoration: none;
    color: black;
}

.location-list img {
    width: 70px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}

.accomodations img {
    border-radius: 10px;
}